header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0px;
}

.logo {
	display: flex;
	width: 30%;
	align-items: center;
}

.logo a {
	display: flex;
	width: 100%;
	text-decoration: none;
	align-items: center;
}

.logo a img {
	max-width: 100%;
	transform: scale(1, 0.8);
}

.logo a h1 {
	margin-left: 20px;
	font-weight: 900;
}

nav {
	display: flex;
	align-items: center;
	width: 40%;
}

nav ul {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

nav ul li {
	display: flex;
	list-style: none;
	align-items: center;
}

nav ul li a {
	text-decoration: none;
	color: rgb(153, 153, 153);
	text-align: center;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
	width: 100%;
}

nav ul li a.active,
nav ul li a:hover {
	color: var(--hoverColor);
	transition: 0.5s;
}

.toggle {
	display: none;
	justify-content: center;
	align-items: center;
	background: #000;
	color: #fff;
	padding: 20px;
	cursor: pointer;
}

.toggle i {
	font-size: 2rem;
}

/* responsive navbar */

@media screen and (max-width: 768px) {
	header {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.logo {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		margin-left: 0px;
		margin: auto;
	}

	.logo img {
		display: flex;
		max-width: 50px;
	}
	.logo a h1 {
		margin-left: 5px;
		font-weight: 700;
		font-size: 1rem;
	}
	nav ul {
		display: flex;
		width: 100%;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	nav ul li {
		display: flex;
		list-style: none;
		align-items: center;
	}

	nav ul li a {
		text-decoration: none;
		color: rgb(153, 153, 153);
		text-align: center;
		font-size: 1.2rem;
		font-weight: 400;
		width: 100%;
		padding: 10px;
	}

	nav ul li a.active,
	nav ul li a:hover {
		color: var(--hoverColor);
		border-bottom: none;
		transition: 0.5s;
	}
	.nav-options {
		display: flex;
		width: 100%;
		height: 350px;
		position: absolute;
		top: 150px;
		left: -100%;
		opacity: 0;
		transition: all 0.5s ease;
		flex-direction: column;
		list-style-type: none;
		grid-gap: 0px;
		border: 2px solid rgb(247, 116, 40);
	}
	.nav-options.active {
		background: #fff;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
		z-index: 1;
		align-content: center;
		padding-left: 0px;
	}
	/* .mobile-option {
		display: none;
	}
	.mobile-menu {
		display: none;
	} */

	.toggle {
		display: block;
		justify-content: center;
		align-items: center;
		background: #000;
		color: #fff;
		padding: 15px;
		cursor: pointer;
		margin-top: 5px;
	}

	.toggle i {
		font-size: 2rem;
	}
}
