.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo{
    display: flex;
    width: 30%;
    align-items: center;
}

.logo a{
    display: flex;
    width: 100%;
    text-decoration: none;
    align-items: center;
}

.logo a img{
    max-width: 100%;
    transform: scale(1, .8);
}

.logo a h1{
    margin-left: 20px;
    font-weight: 900;
}

nav{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: flex-end;
    margin-right: 50px;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul li{
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-weight: 900;
}