:root{
    --universlColor: rgb(17, 114, 206);
    --headingColor: rgb(14, 53, 90);
}
.partner{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../../bg-images/partnersbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px 30px;
}

.partner h1{
    font-size: 3rem;
    font-weight: 600;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
}

.partner-text{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.partner-text >h3{
    font-size: 2rem;
    margin-left: 30px;
    color: var(--universlColor);
    display: flex;
}

.partner-text h1{
    font-size: 8rem;
    margin-left: 70px;
    display: flex;
}

.partner-text p{
    display: flex;
    color: var(--headingColor);
    margin-left: 30px;
    font-size: 1.2rem;
}

.partner-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 40%;
}

.partner-image div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-image:first-child{
    margin-top: 50px;
}

.partner-image div img{
    max-width: 100%;
}