:root{
    --universlColor: rgb(17, 114, 206);
    --headingColor: rgb(14, 53, 90);
}

.testimonials{
    display: flex;
    padding: 100px 0px;
    background: url(../../bg-images/testmonialsbg.jpg);
}